In [31]:
#importamos librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
#Cargamos archivo
data = pd.read_csv('Albany.csv')
data.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2992450,https://www.airbnb.com/rooms/2992450,20241105062440,2024-11-05,city scrape,Luxury 2 bedroom apartment,The apartment is located in a quiet neighborho...,NaN,https://a0.muscache.com/pictures/44627226/0e72...,4621559,...,4.56,3.22,3.67,NaN,f,1,1,0,0,0.07
1,3820211,https://www.airbnb.com/rooms/3820211,20241105062440,2024-11-05,previous scrape,Restored Precinct in Center Sq. w/Parking,"Cozy, cool little 1BR Apt in the heart Albany'...","Great restaurants, architecture, walking, peop...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.81,4.82,4.78,NaN,f,4,4,0,0,2.46
2,5651579,https://www.airbnb.com/rooms/5651579,20241105062440,2024-11-05,city scrape,Large studio apt by Capital Center & ESP@,"Spacious studio with hardwood floors, fully eq...",The neighborhood is very eclectic. We have a v...,https://a0.muscache.com/pictures/b3fc42f3-6e5e...,29288920,...,4.87,4.76,4.64,NaN,f,2,1,1,0,3.20
3,6623339,https://www.airbnb.com/rooms/6623339,20241105062440,2024-11-05,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,Large renovated 1 bedroom apartment in convert...,"Located in Albany's finest urban neighborhood,...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.70,4.80,4.72,NaN,f,4,4,0,0,2.86
4,9005989,https://www.airbnb.com/rooms/9005989,20241105062440,2024-11-05,city scrape,"Studio in The heart of Center SQ, in Albany NY",(21 years of age or older ONLY) NON- SMOKING.....,"There are many shops, restaurants, bars, museu...",https://a0.muscache.com/pictures/d242a77e-437c...,17766924,...,4.93,4.87,4.78,NaN,f,1,1,0,0,5.96

In [33]:
#Eliminar columnas innecesarias
#axis = 1 para columnas
#axis = 0 para filas
data2 = data.drop(['description', 'host_thumbnail_url', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'availability_30', 'availability_60', 'availability_90', 'calendar_last_scraped', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_accuracy', 'review_scores_checkin', 'review_scores_value', 'license', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'neighbourhood_group_cleansed'], axis=1)
data2

,id,listing_url,scrape_id,last_scraped,source,name,neighborhood_overview,picture_url,host_id,host_url,...,calendar_updated,has_availability,availability_365,number_of_reviews,review_scores_rating,review_scores_cleanliness,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month
0,2992450,https://www.airbnb.com/rooms/2992450,20241105062440,2024-11-05,city scrape,Luxury 2 bedroom apartment,NaN,https://a0.muscache.com/pictures/44627226/0e72...,4621559,https://www.airbnb.com/users/show/4621559,...,NaN,t,219,9,3.56,3.56,4.56,3.22,f,0.07
1,3820211,https://www.airbnb.com/rooms/3820211,20241105062440,2024-11-05,previous scrape,Restored Precinct in Center Sq. w/Parking,"Great restaurants, architecture, walking, peop...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,https://www.airbnb.com/users/show/19648678,...,NaN,t,363,306,4.75,4.87,4.81,4.82,f,2.46
2,5651579,https://www.airbnb.com/rooms/5651579,20241105062440,2024-11-05,city scrape,Large studio apt by Capital Center & ESP@,The neighborhood is very eclectic. We have a v...,https://a0.muscache.com/pictures/b3fc42f3-6e5e...,29288920,https://www.airbnb.com/users/show/29288920,...,NaN,t,21,370,4.51,4.45,4.87,4.76,f,3.20
3,6623339,https://www.airbnb.com/rooms/6623339,20241105062440,2024-11-05,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,"Located in Albany's finest urban neighborhood,...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,https://www.airbnb.com/users/show/19648678,...,NaN,t,339,328,4.73,4.71,4.70,4.80,f,2.86
4,9005989,https://www.airbnb.com/rooms/9005989,20241105062440,2024-11-05,city scrape,"Studio in The heart of Center SQ, in Albany NY","There are many shops, restaurants, bars, museu...",https://a0.muscache.com/pictures/d242a77e-437c...,17766924,https://www.airbnb.com/users/show/17766924,...,NaN,t,357,599,4.79,4.83,4.93,4.87,f,5.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,1277527400878120655,https://www.airbnb.com/rooms/1277527400878120655,20241105062440,2024-11-05,city scrape,Experience Historic Albany Full Throttle!,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,382970529,https://www.airbnb.com/users/show/382970529,...,NaN,t,365,0,NaN,NaN,NaN,NaN,t,NaN
417,1277717926531215616,https://www.airbnb.com/rooms/1277717926531215616,20241105062440,2024-11-05,city scrape,Large Center Sq Luxury Retreat.,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,65760,https://www.airbnb.com/users/show/65760,...,NaN,t,363,0,NaN,NaN,NaN,NaN,f,NaN
418,1279011643102137684,https://www.airbnb.com/rooms/1279011643102137684,20241105062440,2024-11-05,city scrape,nice cool stays,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,539608284,https://www.airbnb.com/users/show/539608284,...,NaN,t,365,0,NaN,NaN,NaN,NaN,t,NaN
419,1279781671588026640,https://www.airbnb.com/rooms/1279781671588026640,20241105062440,2024-11-05,city scrape,Spacious & Quiet Townhouse.,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,528617680,https://www.airbnb.com/users/show/528617680,...,NaN,t,365,1,4.00,4.00,4.00,3.00,f,1.00
420,1279846646046615122,https://www.airbnb.com/rooms/1279846646046615122,20241105062440,2024-11-05,city scrape,Cozy room in the heart of Albany,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,32379616,https://www.airbnb.com/users/show/32379616,...,NaN,t,341,0,NaN,NaN,NaN,NaN,t,NaN

In [34]:
#Realizamos una copia del dataframe
dataN=data2.copy()

In [35]:
#Cuarto Método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
dataN["neighborhood_overview"] =dataN["neighborhood_overview"].fillna("nice")

#Descripción: se usa el cuarto método de sustitución de valores, en la columna "neighborhood_overview"
#pues esta columna contiene strings y se colocó un string "nice" para que todos los vecindarios sean lindos o por 
#lo que espera el cliente

In [36]:
#Quinto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante "Forward fill" "(ffill)"
#Filtro por columnas
dataN["host_location"] =dataN["host_location"].fillna(method="ffill")

#Descripción: se usa el secto método de sustitución de valores nulos para "host_location", pues sabemos que la mayor
#parte de los airbnb están localizados en Albany, NY; y se asume que lo más probable es que el siguiente 
#también esté localizado en Albany, NY

C:\Users\ady_b\AppData\Local\Temp\ipykernel_5000\1842374782.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataN["host_location"] =dataN["host_location"].fillna(method="ffill")

In [37]:
#Cuarto Método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
dataN["host_about"] =dataN["host_about"].fillna("Hi! I'm a person who loves to travel and enjoys spending time learning about other cultures..")

#Descripción: se usa el cuarto método de sustitución de valores, en la columna "host_about"
#pues esta columna contiene strings y se colocó un string "Hi! I'm a person who loves to travel and enjoys spending time learning about other cultures.." para que todos los 
#host tengan una buena presentación

In [38]:
#Cuarto Método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
dataN["host_response_time"] = dataN["host_response_time"].fillna("unknown")

#Descripcion: se usa el cuarto método de sustitución de valores, en la columna "host_response_time"
#pues esta columna contiene strings y se coloca "unknown" para indicar al cliente que es un dato desconocido

In [39]:
#Primer Método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["host_response_rate"] = data2["host_response_rate"].str.rstrip('%').astype(float) / 100
dataN["host_response_rate"]=dataN["host_response_rate"].fillna(round(data2["host_response_rate"].mean(),1))

#Descripción: sustituimos los valores nulos con el promedio ya que al tratarse de una medida de tipo entero esto facilita
#el manejo de la variable "host_response_rate". Es importante mencionar que el prorecntaje se pasa a flotante

In [40]:
#Primer Método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data2["host_acceptance_rate"] = data2["host_acceptance_rate"].str.rstrip('%').astype(float) / 100
dataN["host_acceptance_rate"]=dataN["host_acceptance_rate"].fillna(round(data2["host_acceptance_rate"].mean(),1))

#Descripción: primero convertimos los datos de string a float, y usamos el primer método de sustitución de valores nulos, 
#pues es más fácil trabajar con el promedio en la columna "host_acceptance_rate"

In [41]:
#Quinto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante "Forward fill" "(ffill)"
#Filtro por columnas
dataN['host_is_superhost']=dataN['host_is_superhost'].fillna(method=("ffill"))

#Descripción: usamos el quinto método de sustitución de valores nulos en la columna "host_is_superhost". 
#hicimos uso de ffill para completa el valor faltante con el último valor válido anterior pues no hay tanta 
#diferencia de datos

C:\Users\ady_b\AppData\Local\Temp\ipykernel_5000\1685551699.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataN['host_is_superhost']=dataN['host_is_superhost'].fillna(method=("ffill"))

In [42]:
#Cuarto Método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
dataN['host_neighbourhood'] = dataN['host_neighbourhood'].fillna("unknown")

#Descripción: se usa el cuarto método de sustitución de valores nulos, pues por seguridad colocamos "unknwon"
#en la columna "host_neighbourhood"

In [43]:
#Cuarto Método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
dataN["neighbourhood"] = dataN["neighbourhood"].fillna("Neighborhood highlights")

#Descripción: se usa el cuarto método de sustitución de valores nulos en la columna de "neighbourhood", pues podemos 
#asumir que los valores nulos serán iguales a "Neighborhood highlights", ya que la mayoría de registros son iguales.

In [44]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en concreto
dataN["bathrooms"]=data2["bathrooms"].fillna(1)

#Descripcion: Se uso el tercer metodo de sustitucion para los registros de la columna "bathrooms", 
# pues este método nos ayuda a poner un numero en concreto, y colocamos que por lo menos todos tengan 1 baño

In [45]:
#Cuarto Método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
dataN["bathrooms_text"] = dataN["bathrooms_text"].fillna("1 bath")

#Descripcion: se usa el cuarto método de sustitución de valores, en la columna "bathroom_text"
#pues esta columna contiene strings y se espera que por lo menos se cuente con un baño

In [46]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en concreto
dataN["bedrooms"]=data2["bedrooms"].fillna(1)

#Descripcion: Se uso el tercer método de sustitución para los registros de la columna "bedrooms", 
# pues este método nos ayuda a poner un número en concreto, y colocamos que por lo menos todos tengan 1 cuarto

In [47]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en concreto
dataN["beds"]=data2["beds"].fillna(1)

#Descripcion: Se uso el tercer método de sustitución para los registros de la columna "beds", 
# pues este método nos ayuda a poner un número en concreto, y colocamos que por lo menos todos tengan 1 cama

In [48]:
#Cuarto Método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
dataN["price"] = dataN["price"].fillna("$100")

#Descripcion: se usa el cuarto método de sustitución de valores, en la columna "price"
#pues esta columna contiene strings y se espera que por lo menos se cobre alguna comisión para la renta de un cuarto

In [49]:
#Cuarto Método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
dataN["calendar_updated"] = dataN["calendar_updated"].fillna("within data")

#Descripcion: se usa el cuarto método de sustitución de valores, en la columna "calendar_updated"
#pues esta columna contiene strings, y se informa que no contiene actualizaciones

In [50]:
#Cuarto Método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
dataN["has_availability"] = dataN["has_availability"].fillna("f")

#Descripción: se usa el cuarto método de sustitución de valores, en la columna "has_availability"
#pues esta columna contiene strings, y se informa que es falso o que no está habilitado o disponible

In [51]:
#Segundo Método de sustitución de valores nulos
#Sustituir valores nulos con mediana
dataN["review_scores_rating"] = dataN["review_scores_rating"].fillna(round(data2["review_scores_rating"].median(),1)) #1 cuántos decimales quiero

#Descripción: se usa el segundo método de sustitución de valores nulos, pues esta sustitución nos ayuda con cuando hay valores atípicos o muy 
# variados, por ejemplo: puede haber reseñas de 1 a 5.

In [52]:
#Segundo Método de sustitución de valores nulos
#Sustituir valores nulos con mediana
dataN["review_scores_cleanliness"] = dataN["review_scores_cleanliness"].fillna(round(data2["review_scores_cleanliness"].median(),1)) #1 cuántos decimales quiero

#Descripción: se usa el segundo método de sustitución de valores nulos, pues esta sustitución nos ayuda con cuando hay valores atípicos o muy 
# variados, por ejemplo: puede haber reseñas de 1 a 5.

In [53]:
#Segundo Método de sustitución de valores nulos
#Sustituir valores nulos con mediana
dataN["review_scores_communication"] = dataN["review_scores_communication"].fillna(round(data2["review_scores_communication"].median(),1)) #1 cuántos decimales quiero

#Descripción: se usa el segundo método de sustitución de valores nulos, pues esta sustitución nos ayuda con cuando hay valores atípicos o muy 
# variados, por ejemplo: puede haber reseñas de 1 a 5.

In [54]:
#Segundo Método de sustitución de valores nulos
#Sustituir valores nulos con mediana
dataN["review_scores_location"] = dataN["review_scores_location"].fillna(round(data2["review_scores_location"].median(),1)) #1 cuántos decimales quiero

#Descripción: se usa el segundo método de sustitución de valores nulos, pues esta sustitución nos ayuda con cuando hay valores atípicos o muy 
# variados, por ejemplo: puede haber reseñas de 1 a 5.

In [55]:
#Primer Método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media

dataN['reviews_per_month']=dataN['reviews_per_month'].fillna(round(data2['reviews_per_month'].mean(),1))

#Descripción: se usa el primer método de sustitución de valores nulos, pues en este caso opté por llenar
#los campos con el promedio de las reseñas por mes, de la columna "reviews_per_month"

In [56]:
#Identificar valores nulos por dataframe
valores_nulos=dataN.isnull().sum()
valores_nulos

id                             0
listing_url                    0
scrape_id                      0
last_scraped                   0
source                         0
name                           0
neighborhood_overview          0
picture_url                    0
host_id                        0
host_url                       0
host_name                      0
host_since                     0
host_location                  0
host_about                     0
host_response_time             0
host_response_rate             0
host_acceptance_rate           0
host_is_superhost              0
host_picture_url               0
host_neighbourhood             0
host_listings_count            0
host_total_listings_count      0
host_verifications             0
host_has_profile_pic           0
host_identity_verified         0
neighbourhood                  0
neighbourhood_cleansed         0
latitude                       0
longitude                      0
property_type                  0
room_type                      0
accommodates                   0
bathrooms                      0
bathrooms_text                 0
bedrooms                       0
beds                           0
amenities                      0
price                          0
minimum_nights                 0
maximum_nights                 0
calendar_updated               0
has_availability               0
availability_365               0
number_of_reviews              0
review_scores_rating           0
review_scores_cleanliness      0
review_scores_communication    0
review_scores_location         0
instant_bookable               0
reviews_per_month              0
dtype: int64

In [60]:
#Identificar valores nulos por dataframe
valores_nulos=dataN.isnull().sum().sum()
valores_nulos

np.int64(0)

**_Convertir DataSet sin valores nulos a CSV_**

In [58]:
#Convertir DtaFrame a csv
dataN.to_csv("Albany_sin_nulos.csv")